.wrap {
    margin: 0 auto;
    max-width: 1024px;
}

.bar {
    background-color: #4A4A4A80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;

    h1 a {
        background-image: url(../image/logo.png);
        width: 182px;
        height: 36px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }

    ul {
        width: 200px;
        display: flex;
        justify-content: space-between;

        li a {
            color: #FFFFFF;
            font-family: PingFang TC;
            font-size: 18px;
            line-height: 1.5;
            text-decoration: none;

            &:hover {
                color: #00CC99;
                text-decoration: 7px underline #00CC99;
                text-underline-offset: 25px;
            }
        }
    }
}

.nav-link.active {
    color: #00CC99;
    text-decoration: 7px underline #00CC99;
    text-underline-offset: 25px;
}

@media (max-width: 481px) {
    .bar {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
}

.header {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer {
    background: rgb(50, 50, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 40px;

    .footerImg {
        display: flex;
        flex-direction: column;
        gap: 5px;

        a {
            width: 170px;
            height: 36px;
        }

        p {
            color: #9B9B9B;
            text-align: right;
        }
    }

    .footerMenu {
        display: flex;
        width: 140px;
        justify-content: space-between;

        a {
            width: 32px;
            height: 32px;
            display: block;

            &:hover {
                transform: scale(1.2);
                transition: transform 0.5s;
            }
        }
    }
}

@media (max-width: 420px) {
    .footer .footerMenu a {
        width: 25px;
        height: 25px;
        display: block;
    }
}

.titleText {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin: 50px 0 30px;

    h2 {
        font-size: 36px;
        color: #9B9B9B;
    }

    p {
        font-size: 20px;
        color: #9B9B9B;
    }
}

@media (max-width: 620px) {
    .titleText {
        flex-direction: column;
        align-items: flex-start;
    }
}

.arrowButton {
    width: 226px;
    height: 58px;
    font-size: 20px;
    color: #FFFFFF;
    background: #00CC99;
    text-align: center;
    line-height: 58px;
    text-decoration: none;
    border-radius: 5px;
    animation: blink 1.5s infinite;

    &:hover {
        background: gray !important;
    }

    .arrow {
        margin-left: 20px;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
       opacity: 0.6;
    }
}

.form {
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
    gap: 50px;

    .context {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .context p {
        color: #323223;
        font-size: 30px;
        font-family: PingFang TC;
        line-height: 1.2;
    }

    .formStyle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;

        input {
            display: block;
            width: 460px;
            height: 56px;
            color: #9B9B9B;
            background: #FFFFFF;
            font-size: 20px;
            font-family: PingFang TC;
            text-indent: 10px;
            border: none;
            border-radius: 5px;
        }

        button {
            width: 140px;
            height: 51px;
            background: #00CC99;
            color: #FFFFFF;
            font-size: 20px;
            font-family: PingFang TC;
            border: none;
            border-radius: 5px;
            letter-spacing: 20px;
            text-indent: 20px;
            cursor: pointer;

            &:hover {
                background: gray;
            }
        }
    }
}